includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5

    paths:
        - app
        - config
        - database
        - routes

    excludePaths:
        analyse:
            - bootstrap/cache/*
            - storage/*

    tmpDir: storage/phpstan
